*{
    padding:0;
    margin:0;
}


header{

    text-align:center;
    display:inline;
    background-color: #286bd6;
}

h2{
  font-family:arial, helvetica,  sans-serif;
  font-size:30;  
}


p {
  font-family:arial, helvetica,  sans-serif;
  font-size:20;
  padding:5;
    margin:5;
}


footer{
    
    position: fixed;
    text-align:center;
    display:inline;
    bottom: 0;
    background-color: #286bd6;
    
}

@media(max-width:400px){
    body{
        background-color:#E4E4E4;
    }